<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=shopName%></title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Welcome to <%=shopName%> Shop</h1>
        <h2>Here are some things that we sell:</h2>
        <ul>
            <% for(let i = 0; i < productCategories.length; i++) { %>
                <li><%= productCategories[i]%></li>
            <%} %>
        </ul>

        <ul>
            <li><a href="/about">About Page</a></li>
            <li><a href="/register">Registration Page</a></li>
            <li><a href="/search">Search Page</a></li>
            <li><a href="/survey">Survey Page</a></li>
        </ul>
    </body>
</html>