<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=shopName%></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 class="mb-4">Welcome to <%=shopName%> Shop</h1>
            <h2 class="mb-3">Here are some things that we sell:</h2>
            <ul>
                <% for(let i = 0; i < productCategories.length; i++) { %>
                    <li><%= productCategories[i]%></li>
                <%} %>
            </ul>

            <ul>
                <li><a href="/about">About Page</a></li>
                <li><a href="/register">Registration Page</a></li>
                <li><a href="/search">Search Page</a></li>
                <li><a href="/survey">Survey Page</a></li>
            </ul>
        </div>
    </body>
</html>