<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=shopName%></title>
</head>
<body>
    <h1> This is the register page </h1>
    <form id="register_form" method="POST" action="/registered">
        First Name:<input id="first" type="text" name="first"/>
        Last Name:<input id="last" type="text" name="last"/>
        Email:<input id="email" type="text" name="email"/>
        <input type="submit" value="OK"/>
    </form>
    <script>
        function validateEmail(email) {
            const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            return emailPattern.test(email);
        }

        document.getElementById('register_form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting
            const emailInput = document.getElementById('email');

            if(validateEmail(emailInput.value)) {
                this.submit()
            } else {
                alert('please enter a valid email')
            }
        })
    </script>
</body>
</html>