<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=shopName%></title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>This is the Search Page for <%=shopName%> Shop</h1>
        <p>You will be able to search here</p>
        <form action="/search_result" method="GET">
            Name:
            <input id="search_box" type="text" name="search_text">
            Category:
            <input id="search_box" type="text" name="category">
            <input type="submit" value="OK">
        </form>
        <a href="/">Back to Home</a>
    </body>
</html>